body {
    background: rgb(10,6,6);
    background: linear-gradient(128deg, #843b62 45%, #f67e7d 87%);
    font-family: 'Noto Sans JP', sans-serif;

  
}

.alltogethernow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
      
}

.listContainer {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:fit-content;
}

h1 {
    color: #0b032d;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    height: 20px;
}

button {
    border-radius: 10px;
    border: 1px solid black;
    height: 25px;
    background-color: #0b032d;
    color: #f67e7d;
}